.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 0;
}

.social-icons i {
  font-size: 2.5rem;
  transition: transform 0.2s;
}

.social-icons a {
  color: inherit;
  text-decoration: none;
}

.social-icons a:hover i {
  transform: scale(1.25);
}