<style>
  .menu-footer-social i {
    font-size: 1.2rem;
  }
</style>


<div class="menu-footer-social" style="display:flex; gap:.75rem; align-items:center; padding:.75rem 1rem;">
  <a href="https://github.com/kloosterpm" target="_blank" rel="noopener" aria-label="GitHub">
    <i class="fa-fw fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/peter-ten-klooster-5b0150a/" target="_blank" rel="noopener" aria-label="LinkedIn">
    <i class="fa-fw fab fa-linkedin"></i>
  </a>
  <a href="https://orcid.org/0000-0002-2565-5439" target="_blank" rel="noopener" aria-label="ORCID">
    <i class="fa-fw fab fa-orcid"></i>
  </a>
  <a href="https://www.researchgate.net/profile/Peter-Ten-Klooster" target="_blank" rel="noopener" aria-label="ResearchGate">
    <i class="fa-fw fab fa-researchgate"></i>
  </a>
  <a href="https://scholar.google.com/citations?user=_hAgYCUAAAAJ&hl=nl" target="_blank" rel="noopener" aria-label="Google Scholar">
    <i class="fa-fw fab fa-google-scholar"></i>
  <a href="mailto:p.m.tenklooster@utwente.nl" target="_blank" rel="noopener" aria-label="E-mail">
    <i class="fa-regular fa-envelope"></i>
</div>
